@font-face {
    font-family: neubau_seriflight;
    src: url(../fonts/neubau-serif-light-webfont.eot);
    src: url(../fonts/neubau-serif-light-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/neubau-serif-light-webfont.woff2) format('woff2'), url(../fonts/neubau-serif-light-webfont.woff) format('woff'), url(../fonts/neubau-serif-light-webfont.ttf) format('truetype'), url(../fonts/neubau-serif-light-webfont.svg#neubau_seriflight) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: neubau_serifbold;
    src: url(../fonts/neubauserif-bold-webfont.eot);
    src: url(../fonts/neubauserif-bold-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/neubauserif-bold-webfont.woff2) format('woff2'), url(../fonts/neubauserif-bold-webfont.woff) format('woff'), url(../fonts/neubauserif-bold-webfont.ttf) format('truetype'), url(../fonts/neubauserif-bold-webfont.svg#neubau_serifbold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: fira_sans_otregular;
    src: url(../fonts/firasansot-regular-webfont.eot);
    src: url(../fonts/firasansot-regular-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/firasansot-regular-webfont.woff2) format('woff2'), url(../fonts/firasansot-regular-webfont.woff) format('woff'), url(../fonts/firasansot-regular-webfont.ttf) format('truetype'), url(../fonts/firasansot-regular-webfont.svg#fira_sans_otregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: fira_sans_otbold;
    src: url(../fonts/firasansot-bold-webfont.eot);
    src: url(../fonts/firasansot-bold-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/firasansot-bold-webfont.woff2) format('woff2'), url(../fonts/firasansot-bold-webfont.woff) format('woff'), url(../fonts/firasansot-bold-webfont.ttf) format('truetype'), url(../fonts/firasansot-bold-webfont.svg#fira_sans_otbold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: fira_sans_otbold_italic;
    src: url(../fonts/firasansot-bolditalic-webfont.eot);
    src: url(../fonts/firasansot-bolditalic-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/firasansot-bolditalic-webfont.woff2) format('woff2'), url(../fonts/firasansot-bolditalic-webfont.woff) format('woff'), url(../fonts/firasansot-bolditalic-webfont.ttf) format('truetype'), url(../fonts/firasansot-bolditalic-webfont.svg#fira_sans_otbold_italic) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: arvoregular;
    src: url(../fonts/arvo-regular-webfont.eot);
    src: url(../fonts/arvo-regular-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/arvo-regular-webfont.woff2) format('woff2'), url(../fonts/arvo-regular-webfont.woff) format('woff'), url(../fonts/arvo-regular-webfont.ttf) format('truetype'), url(../fonts/arvo-regular-webfont.svg#arvoregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: arvobold;
    src: url(../fonts/arvo-bold-webfont.eot);
    src: url(../fonts/arvo-bold-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/arvo-bold-webfont.woff2) format('woff2'), url(../fonts/arvo-bold-webfont.woff) format('woff'), url(../fonts/arvo-bold-webfont.ttf) format('truetype'), url(../fonts/arvo-bold-webfont.svg#arvobold) format('svg');
    font-weight: 400;
    font-style: normal
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #cfe0ef
}

body {
    background: url(../img/home/background-texture-blue%402x.png);
    min-height: 560px;
    font-family: fira_sans_otregular;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
    -ms-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
    font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1
}

.hidden {
    visibility: hidden;
    z-index: -1
}

#Header {
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 1;
    z-index: 4;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Header .languages {
    background: url(../img/home/sprite-select-language%402x.png) 0 0/71px 50px no-repeat;
    width: 71px;
    height: 25px;
    cursor: pointer;
    float: left
}

#Header .languages[data-lang=en] {
    background-position: 0 -25px
}

#Header .about--link {
    font-family: fira_sans_otbold;
    font-size: 12px;
    border-bottom: 1px solid #333;
    height: 20px;
    float: left;
    line-height: 25px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Header .about--link:hover {
    opacity: .7
}

#Header.hidden {
    opacity: 0
}

#Home {
    left: 50%;
    top: 50%;
    position: fixed;
    margin-left: -430px;
    margin-top: -290px;
    width: 860px;
    height: 580px;
    z-index: 3
}

#Home .treesvg_container {
    position: absolute;
    left: 0;
    top: 0
}

#Home #TreeSVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 560px
}

#Home #TreeSVG .hiddenPath {
    display: none
}

#Home #Tree {
    position: absolute;
    left: 0;
    top: 50%;
    height: 560px;
    width: 500px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

#Home #Tree .spiderweb {
    background: url(../img/home/links@2x.png) 0 0/412px 412px no-repeat;
    position: absolute;
    visibility: visible;
    left: 250px;
    top: 280px;
    width: 412px;
    height: 412px;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Home #Tree .spiderweb.hidden {
    opacity: 0
}


#Home #Tree .tooltiptext {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 130px;
    z-index: 1;
    font-size: 13px;
    line-height: 16px;
    opacity: 1;
    font-family: fira_sans_otbold;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;

    background-color: #cddfee;
    color: white;
    padding: 15px 15px;

    border-radius: 20px;
    display: none;
}

#Home #Tree .tree_legend {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 300px;
    z-index: 1;
    font-family: fira_sans_otbold_italic;
    font-size: 13px;
    line-height: 16px;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Home #Tree .tree_legend.hidden {
    opacity: 0
}

#Home #Tree .tree_nodes {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2
}

#Home #Tree .tree_node {
    position: absolute;
    background-image: url(../img/home/pictos_posters.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 960px 160px;
    background-color: #fff;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translate(-50%, -50%) rotateY(0deg) rotateZ(0deg);
    transform: translate(-50%, -50%) rotateY(0deg) rotateZ(0deg);
    -webkit-transition: -webkit-transform, opacity, margin-top, background-color;
    transition: transform, opacity, margin-top, background-color;
    -webkit-transition-duration: .4s, .4s, .4s, .3s;
    transition-duration: .4s, .4s, .4s, .3s;
    -webkit-transform-origin: 50% 51% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 51% 0
}

#Home #Tree .tree_node .tree_node_label {
    font-size: 12px;
    line-height: 14px;
    color: #444;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    -webkit-font-smoothing: antialiased
}

#Home #Tree .tree_node .tree_node_label.top {
    bottom: 84px
}

#Home #Tree .tree_node .tree_node_label.bottom {
    top: 84px
}


#Home #Tree .tree_node .tree_node_label.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Home #Tree .tree_nodes.hidden .tree_node {
    margin-top: -50px;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotateY(180deg) rotateZ(0deg);
    -ms-transform: translate(-50%, -50%) rotateY(180deg) rotateZ(0deg);
    transform: translate(-50%, -50%) rotateY(180deg) rotateZ(0deg)
}

#Home #Tree .tree_node.notcompared {
    background-color: #ddd2cf
}

#Home #Tree .tree_node:nth-child(1) {
    -webkit-transition-delay: 0s, 0s, 0s;
    transition-delay: 0s, 0s, 0s
}

#Home #Tree .tree_node:nth-child(2) {
    -webkit-transition-delay: .2s, .2s, .2s, 0s;
    transition-delay: .2s, .2s, .2s, 0s
}

#Home #Tree .tree_node:nth-child(3) {
    -webkit-transition-delay: .4s, .4s, .4s, 0s;
    transition-delay: .4s, .4s, .4s, 0s
}

#Home #Tree .tree_node:nth-child(4) {
    -webkit-transition-delay: .6s, .6s, .6s, 0s;
    transition-delay: .6s, .6s, .6s, 0s
}

#Home #Tree .tree_node:nth-child(5) {
    -webkit-transition-delay: .8s, .8s, .8s, 0s;
    transition-delay: .8s, .8s, .8s, 0s
}

#Home #Tree .tree_node:nth-child(6) {
    -webkit-transition-delay: 1s, 1s, 1s, 0s;
    transition-delay: 1s, 1s, 1s, 0s
}

#Home #Tree .tree_node:nth-child(7) {
    -webkit-transition-delay: 1.2s, 1.2s, 1.2s, 0s;
    transition-delay: 1.2s, 1.2s, 1.2s, 0s
}

#Home #Tree .tree_node:nth-child(8) {
    -webkit-transition-delay: 1.4s, 1.4s, 1.4s, 0s;
    transition-delay: 1.4s, 1.4s, 1.4s, 0s
}

#Home #Tree .tree_node:nth-child(9) {
    -webkit-transition-delay: 1.6s, 1.6s, 1.6s, 0s;
    transition-delay: 1.6s, 1.6s, 1.6s, 0s
}

#Home #Tree .tree_node:nth-child(10) {
    -webkit-transition-delay: 1.8s, 1.8s, 1.8s, 0s;
    transition-delay: 1.8s, 1.8s, 1.8s, 0s
}

#Home #Tree .tree_node:nth-child(11) {
    -webkit-transition-delay: 2s, 2s, 2s, 0s;
    transition-delay: 2s, 2s, 2s, 0s
}

#Home #Tree .tree_node:nth-child(12) {
    -webkit-transition-delay: 2.2s, 2.2s, 2.2s, 0s;
    transition-delay: 2.2s, 2.2s, 2.2s, 0s
}

#Home #Tree .tree_node--1 {
    left: 0;
    top: -208px;
    background-position: 0 0
}

#Home #Tree .tree_node--1.compared, #Home #Tree .tree_node--1.selected, #Home #Tree .tree_node--1:hover {
    background-color: #6b6c98;
    background-position: 0 -80px !important
}

#Home #Tree .tree_node--2 {
    left: 104px;
    top: -178px;
    background-position: -80px 0
}

#Home #Tree .tree_node--2.compared, #Home #Tree .tree_node--2.selected, #Home #Tree .tree_node--2:hover {
    background-color: #ea8a6d;
    background-position: -80px -80px !important
}

#Home #Tree .tree_node--3 {
    left: 180px;
    top: -104px;
    background-position: -160px 0
}

#Home #Tree .tree_node--3.compared, #Home #Tree .tree_node--3.selected, #Home #Tree .tree_node--3:hover {
    background-color: #ee5b59;
    background-position: -160px -80px !important
}

#Home #Tree .tree_node--4 {
    left: 208px;
    top: 0;
    background-position: -240px 0
}

#Home #Tree .tree_node--4.compared, #Home #Tree .tree_node--4.selected, #Home #Tree .tree_node--4:hover {
    background-color: #be9051;
    background-position: -240px -80px !important
}

#Home #Tree .tree_node--5 {
    left: 180px;
    top: 104px;
    background-position: -320px 0
}

#Home #Tree .tree_node--5.compared, #Home #Tree .tree_node--5.selected, #Home #Tree .tree_node--5:hover {
    background-color: #50aeb4;
    background-position: -320px -80px !important
}

#Home #Tree .tree_node--6 {
    left: 104px;
    top: 178px;
    background-position: -400px 0
}

#Home #Tree .tree_node--6.compared, #Home #Tree .tree_node--6.selected, #Home #Tree .tree_node--6:hover {
    background-color: #8dc348;
    background-position: -400px -80px !important
}

#Home #Tree .tree_node--7 {
    left: 0;
    top: 208px;
    background-position: -480px 0
}

#Home #Tree .tree_node--7.compared, #Home #Tree .tree_node--7.selected, #Home #Tree .tree_node--7:hover {
    background-color: #a95d91;
    background-position: -480px -80px !important
}

#Home #Tree .tree_node--8 {
    left: -104px;
    top: 178px;
    background-position: -560px 0
}

#Home #Tree .tree_node--8.compared, #Home #Tree .tree_node--8.selected, #Home #Tree .tree_node--8:hover {
    background-color: #ef588a;
    background-position: -560px -80px !important
}

#Home #Tree .tree_node--9 {
    left: -180px;
    top: 104px;
    background-position: -640px 0
}

#Home #Tree .tree_node--9.compared, #Home #Tree .tree_node--9.selected, #Home #Tree .tree_node--9:hover {
    background-color: #f1b92d;
    background-position: -640px -80px !important
}

#Home #Tree .tree_node--10 {
    left: -208px;
    top: 0;
    background-position: -720px 0
}

#Home #Tree .tree_node--10.compared, #Home #Tree .tree_node--10.selected, #Home #Tree .tree_node--10:hover {
    background-color: #85b296;
    background-position: -720px -80px !important
}

#Home #Tree .tree_node--11 {
    left: -180px;
    top: -104px;
    background-position: -800px 0
}

#Home #Tree .tree_node--11.compared, #Home #Tree .tree_node--11.selected, #Home #Tree .tree_node--11:hover {
    background-color: #0180ae;
    background-position: -800px -80px !important
}

#Home #Tree .tree_node--12 {
    left: -104px;
    top: -178px;
    background-position: -880px 0
}

#Home #Tree .tree_node--12.compared, #Home #Tree .tree_node--12.selected, #Home #Tree .tree_node--12:hover {
    background-color: #a5af19;
    background-position: -880px -80px !important
}

#Home #Disclaimer {
    font-family: neubau_seriflight;
    position: absolute;
    right: 0;
    top: 50%;
    height: 560px;
    width: 330px;
    margin-top: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

#Home #Disclaimer .disclaimer_content {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    opacity: 1;
    text-align: center;
    margin-top: 0;
    width: 100%;
    -webkit-transition: opacity .3s ease-out, margin-top .3s ease-out;
    transition: opacity .3s ease-out, margin-top .3s ease-out
}

#Home #Disclaimer .disclaimer_content.hidden {
    opacity: 0;
    margin-top: -200px
}

#Home #Disclaimer .disclaimer_content_inner {
    width: 100%;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

#Home #Disclaimer .disclaimer_content_inner.displayed {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Home #Disclaimer .logo_postr {
    background: url(../img/DreamCatchers_logo.png) center 0/210px 350px no-repeat;
    width: 100%;
    height: 350px;
    margin: 0
}

#Home #Disclaimer .aboutblock {
    opacity: 0;
    z-index: -1;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    height: 450px;
    top: 0;
    right: 0;
    width: 92%;
    color: #333;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Home #Disclaimer .aboutblock .aboutblock_close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: url(../img/close-btn%402x.png) 0 0/17px 17px no-repeat;
    width: 17px;
    height: 17px
}

#Home #Disclaimer .aboutblock h3 {
    font-family: arvobold;
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase
}

#Home #Disclaimer .aboutblock .aboutblock_content {
    font-size: 13px;
    line-height: 20px;
    font-family: fira_sans_otregular;
    overflow: auto;
    height: 416px
}

#Home #Disclaimer .aboutblock .aboutblock_content h4 {
    font-size: 15px;
    margin: 20px 0;
    text-align: center
}

#Home #Disclaimer .aboutblock .aboutblock_content ul {
    margin: 0
}

#Home #Disclaimer h1 {
    font-size: 40px;
    color: #333;
    font-family: neubau_serifbold;
    text-transform: uppercase;
    margin: 0
}

#Home #Disclaimer .disclaimer_theme {
    font-family: arvobold;
    font-size: 23px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0
}

#Home #Disclaimer .disclaimer_theme .postr_title {
    font-family: neubau_seriflight;
    color: #333;
    font-size: 40px;
    font-weight: 400;
    text-transform: none
}

#Home #Disclaimer .disclaimer_theme .postr_title .green {
    color: #8EC449
}

#Home #Disclaimer .disclaimer_content_subtitle {
    font-size: 18px;
    line-height: 20px;
    font-family: fira_sans_otregular;
    font-style: oblique;
}

#Home #Disclaimer .disclaimer_content_text {
    font-size: 14px;
    line-height: 20px;
    color: gray;
    font-family: fira_sans_otregular
}

#Home #Disclaimer .disclaimer_content_chapolink {
    font-size: 12px;
    font-family: fira_sans_otregular;
    color: #333
}

#Home #Disclaimer .disclaimer_getintouch label {
    margin-bottom: 10px;
    display: inline-block
}

#Home #Disclaimer .disclaimer_getintouch #user_getintouch_field {
    border-radius: 20px;
    width: 140px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 0 solid;
    background: #fff;
    margin-right: 10px
}

#Home #Disclaimer .disclaimer_getintouch .user_getintouch_bt {
    height: 30px;
    width: 50px;
    border-radius: 30px;
    border: 0 solid;
    background: #fff;
    cursor: pointer
}

#Home #Disclaimer .disclaimer_link {
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding: 0 30px 0 10px;
    border-radius: 10px;
    position: relative;
    font-family: neubau_serifbold;
    font-size: 25px;
    color: #fff;
    display: inline-block;
    margin: 0 0 20px;
    cursor: pointer;
    letter-spacing: -.05em;
    opacity: 1;
    text-decoration: none;
    -webkit-transform: translate3D(0, 0, 0);
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Home #Disclaimer .disclaimer_link:hover {
    opacity: .7
}

#Home #Disclaimer .disclaimer_link:after {
    content: "";
    background: url(../img/home/arrow-btn%402x.png) 0 0/7px 20px no-repeat;
    width: 7px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 13px
}

#Home #Disclaimer .disclaimer_block {
    font-family: neubau_seriflight;
    font-size: 25px;
    margin: 0 0 20px;
    letter-spacing: -.05em
}

#Home #Disclaimer .comparison_block {
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
    margin: 20px 0;
    position: relative;
    max-height: 400px;
    overflow: hidden
}

#Home #Disclaimer .comparison_block:after {
    bottom: 0;
    box-shadow: 0 -40px 40px -30px #fff inset;
    content: "";
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100
}

#Home #Disclaimer .comparison_title {
    font-size: 20px;
    font-family: arvobold;
    margin: 0;
    padding: 0 20px;
    text-transform: uppercase
}

#Home #Disclaimer .comparison_text_outer {
    max-height: 380px;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 10px 0
}

#Home #Disclaimer .comparison_text {
    font-size: 13px;
    line-height: 16px;
    font-family: fira_sans_otregular;
    margin: 0 0 40px
}

#Home #Disclaimer .comparison_close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: url(../img/close-btn%402x.png) 0 0/17px 17px no-repeat;
    width: 17px;
    height: 17px
}

.shareblock {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100
}

.shareblock.toback {
    z-index: 2
}

.shareblock .shareblock_inner {
    position: absolute;
    width: 500px;
    right: 0;
    bottom: 0
}

.shareblock .shareblock_inner .shareblock_logo.hidden {
    opacity: 0;
    margin-bottom: 200px
}

.shareblock .shareblock_inner .shareblock_links {
    position: absolute;
    right: 290px;
    bottom: 20px;
    width: 200px;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

#Footer.hidden {
    opacity: 0
}

@media screen and (max-width: 860px) {
    #Home {
        width: 760px
    }

    #Home #Disclaimer {
        width: 250px
    }
}